{include file="public/header"}
{include file="public/left"}
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        用户管理
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home">首页</a></li>
        <li class="am-active">用户管理列表</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 列表
            </div>
        </div>
        <div class="tpl-block">
            <div>
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <!--<button type="button" class="am-btn am-btn-default am-btn-success" onclick="window.location.href='{:url(\'goods/goods_add\')}'"><span class="am-icon-plus"></span> 新增</button>-->
                            <button type="button" class="am-btn am-btn-default am-btn-danger delete"><span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                <th class="table-id">ID</th>
                                <th class="table-title">微信会员ID</th>
                                <th class="table-num">注册姓名</th>
                                <th class="table-price am-hide-sm-only">微信名</th>
                                <th class="table-date am-hide-sm-only">注册电话</th>
                                <th class="table-type">余额</th>
                                <th class="table-flag">积分</th>
                                <th class="table-sales">注册邮箱</th>
                                <th class="table-comment">注册日期</th>
                                <th class="table-type">操作</th>
                            </tr>
                            </thead>
                            <tbody class="user">
                            {volist name="user" id="vo1"}
                            <tr>
                                <td><input type="checkbox" class="check"></td>
                                <td><?php echo $i;?></td>
                                <td>{$vo1.WID}</td>
                                <td>{$vo1.name}</td>
                                <td class="am-hide-sm-only">{$vo1.nickname}</td>
                                <td>{$vo1.tel}</td>
                                <td class="am-hide-sm-only">{$vo1.balance}</td>
                                <td>{$vo1.score}</td>
                                <td>{$vo1.email}</td>
                                <td>{$vo1.date}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <input type="hidden" id="ID" name="id" value="{$vo1.ID}"/>
                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary edit"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only del"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <div class="am-cf">
                            <div class="am-fr">
                                {$user->render()}
                            </div>
                        </div>
                        <hr>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //编辑按钮
    $('.user').on("click",".edit",function () {
        var ID = $(this).parent().children('#ID').val();
        url = "{:url('index/chart_detail')}";
        str = url + '?id=' +ID;
        window.location.href=str;
    })

    //全选或取消
    $(".tpl-table-fz-check").click(function () {
            if($(this).is(":checked")){
                $('.check').prop("checked", true);
            }else{
                $('.check').prop("checked", false);
            }
        }
    )

    //批量删除
    $(".delete").click(function () {
        var temp = "";
        $(".check:checked").each(function () {
            var tablerow = $(this).parent().parent("tr");
            var id = tablerow.find("input[name='id']").val();
            temp += id + ",";
        });
        $.ajax({
            type: "post",
            url: "{:url('goods/delete_all')}",
            data: {'temp':temp},
            datatype: "json",
            success:function (data) {
                if(data == 0){
                    alert("删除失败!");
                    window.location.href="{:url('goods/goods_type')}";
                }else{
                    alert("删除成功！");
                    window.location.reload();
                }
            }
        })
    })

    //单个删除
    $('.user').on('click','.del',function () {
        var id = $(this).parent().children("#ID").val();
        $.ajax({
            type: "post",
            url: "{:url('goods/delete_one')}",
            data: {"id":id},
            dataType:"json",
            success:function (data) {
                if(data != 0){
                    alert("删除成功！");
                    window.location.reload();
                }else{
                    alert("删除失败！");
                    window.location.reload();
                }
            }
        });
    })
</script>
{include file="public/footer"}