{include file="public/header"}
{include file="public/left"}
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/lang/zh-cn/zh-cn.js"></script>

<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        易起论文微信公众号后台
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home">首页</a></li>
        <li class="am-active">内容</li>
    </ol>
    <div class="tpl-content-scope">
        <div class="note note-info">
            <h3>易起论文
                <span class="close" data-close="note"></span>
            </h3>
            <p> 老牌论文网站易起论文网，提供论文资讯、文秘写作，论文发表、在线订单，积分商城等服务。</p>
            <p><span class="label label-danger">提示:</span> 易起论文官方微信号：lunwenchina
            </p>
        </div>
    </div>

    <div class="row">
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="am-icon-comments-o"></i>
                </div>
                <div class="details">
                    <div class="number"> {$data.user}</div>
                    <div class="desc"> 用户管理</div>
                </div>
                <a class="more" href="{:url('index/chart')}"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="am-icon-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number"> {$data.order}</div>
                    <div class="desc"> 论文订单</div>
                </div>
                <a class="more" href="{:url('table/order_list')}"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="am-icon-apple"></i>
                </div>
                <div class="details">
                    <div class="number"> {$data.goods}</div>
                    <div class="desc"> 积分商品</div>
                </div>
                <a class="more" href="{:url('goods/goods_list')}"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="am-icon-android"></i>
                </div>
                <div class="details">
                    <div class="number"> {$data.shoporder}</div>
                    <div class="desc"> 商品订单</div>
                </div>
                <a class="more" href="{:url('goods/shoporder_list')}"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="am-u-md-6 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-green ">
                        <span>后台设置</span>
                    </div>
                </div>
                <div id="wrapper" class="wrapper">
                    <form class="am-form am-form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="am-form-group">
                            <label for="welcome" class="am-u-sm-3 am-form-label">微信公众号欢迎语：</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="welcome" name="welcome" value="{$jifen.welcome}">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="shop" class="am-u-sm-3 am-form-label">购物返积分：</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="shop" name="shop" value="{$jifen.shop}">
                                <small>只需设置数字，不需带单位。</small>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="tuijian" class="am-u-sm-3 am-form-label">推荐人返积分：</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="tuijian" name="tuijian" value="{$jifen.tuijian}">
                                <small>只需设置数字，不需带单位。</small>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="lunwen" class="am-u-sm-3 am-form-label">论文订单返积分：</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="lunwen" name="lunwen" value="{$jifen.lunwen}">
                                <small>只需设置数字，不需带单位。</small>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="qiandao" class="am-u-sm-3 am-form-label">签到积分：</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="qiandao" name="qiandao" value="{$jifen.qiandao}">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary">保存设置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <p>公众号关键字回复：</p>
                    <form class="am-form am-form-horizontal" method="post" enctype="multipart/form-data">
                        {volist name="keywords" id="vo"}
                        <div class="am-form-group">
                            <input type="hidden" name="id" value="{$vo.id}" />
                            <div class="am-u-sm-3">
                                <input type="text" id="title{$vo.id}" name="title" value="{$vo.keywords}">
                            </div>
                            <div class="am-u-sm-9">
                                <input type="text" id="content{$vo.id}" name="content" value="{$vo.content}">
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="button" class="am-btn am-btn-primary key">保存设置</button>
                                </div>
                            </div>
                        </div>

                        {/volist}
                    </form>
                </div>
            </div>
        </div>
        <div class="am-u-md-6 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-red ">
                        <i class="am-icon-bar-chart"></i>
                        <span> 用户积分前8排行</span>
                    </div>
                </div>
                <div class="tpl-scrollable wrapper">
                    <table class="am-table tpl-table">
                        <thead>
                        <tr class="tpl-table-uppercase">
                            <th>用户</th>
                            <th>余额</th>
                            <th>积分</th>
                            <th>联系方式</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="user_rank" id="vo"}
                        <tr>
                            <td>
                                <a class="user-name" href="{:url('index/chart')}">{$vo.name}</a>
                            </td>
                            <td>￥{$vo.balance}</td>
                            <td>{$vo.score}</td>
                            <td class="font-green bold">{$vo.tel}</td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="am-u-md-6 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-red ">
                        <i class="am-icon-comments-o"></i>
                        <span>联系方式</span>
                    </div>
                </div>
                <div class="tpl-scrollable">
                    <input type="hidden" id="contact" value='{$contact}' />
                    <input type="hidden" id="transfer" value='{$transfer}' />
                    <input type="hidden" id="business" value='{$business}' />
                    <script type="text/plain" id="editor" style="height: 500px;"></script>
                    <div class="am-u-sm-9" style="margin-top: 1%;">
                        <button type="button" class="am-btn am-btn-primary save1">保存修改</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-u-md-6 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-red">
                        <i class="am-icon-cny"></i>
                        <span>合作期刊</span>
                    </div>
                </div>
                <div class="tpl-scrollable">
                    <script type="text/plain" id="editor2" style="height: 500px;"></script>
                    <div class="am-u-sm-9" style="margin-top: 1%;">
                        <button type="button" class="am-btn am-btn-primary save2"> 保存修改</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-md-6 am-u-sm-12 row-mb" style="float: left;">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-red">
                        <i class="am-icon-tag"></i>
                        <span>业务介绍</span>
                    </div>
                </div>
                <div class="tpl-scrollable">
                    <script type="text/plain" id="editor3" style="height: 500px;"></script>
                    <div class="am-u-sm-9" style="margin-top: 1%;">
                        <button type="button" class="am-btn am-btn-primary save3"> 保存修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor', {
        initialFrameHeight:500,
        scaleEnabled:true,
    });
    var ue1 = UE.getEditor('editor2', {
        nitialFrameHeight:500,
        scaleEnabled:true,
    });
    var ue2 = UE.getEditor('editor3', {
        nitialFrameHeight:500,
        scaleEnabled:true,
    });

    $(document).ready(function(){
        var proinfo=$("#contact").val();
        ue.ready(function () { //编辑器初始化完成再赋值
            ue.execCommand('inserthtml', proinfo); //赋值给UEditor
        });
    });

    $(document).ready(function(){
        var proinfo=$("#transfer").val();
        ue1.ready(function () {
            ue1.execCommand('inserthtml', proinfo);
        });
    });

    $(document).ready(function () {
        var proinfo = $("#business").val();
        ue2.ready(function () {
            ue2.execCommand('inserthtml', proinfo);
        });
    });

    //联系方式修改
    $(".save1").click(function () {
        var arr = [];
        var id = "6";
        arr.push(ue.getContent());
        $.ajax({
            type: "post",
            url: "{:url('index/contact')}",
            data: {"content":arr, "id":id},
            success: function (data) {
                if(data == 1){
                    alert("修改成功！");
                    window.location.reload();
                }else{
                    alert("您没有进行任何修改！");
                    return false;
                }
            }
        })
    })

    //汇款方式
    $(".save2").click(function () {
        var arr = [];
        var id= "5";
        arr.push(ue1.getContent());
        $.ajax({
            type: "post",
            url: "{:url('index/contact')}",
            data: {"content":arr, "id":id},
            success: function (data) {
                if(data == 1){
                    alert("修改成功！");
                    window.location.reload();
                }else{
                    alert("您没有进行任何修改！");
                    return false;
                }
            }
        })
    })

    //业务介绍
    $(".save3").click(function () {
        var arr = [];
        var id= "7";
        arr.push(ue2.getContent());
        $.ajax({
            type: "post",
            url: "{:url('index/contact')}",
            data: {"content":arr, "id":id},
            success: function (data) {
                if(data == 1){
                    alert("修改成功！");
                    window.location.reload();
                }else{
                    alert("您没有进行任何修改！");
                    return false;
                }
            }
        })
    })
</script>
<script>
    $('.key').click(function () {
        var id = $(this).parent().parent().parent().children("input[name=id]").val();
        var keywords = $(this).parent().parent().parent().children().children("input[name=title]").val();
        var content = $(this).parent().parent().parent().children().children("input[name=content]").val();

        $.ajax({
            type: "post",
            url: "{:url('index/keywords')}",
            data: {"id":id, "keywords":keywords, "content":content},
            dataType: "json",
            success:function (data) {
                if(data != 0){
                    alert("修改成功！");
                    window.location.reload();
                }else{
                    alert("修改失败！");
                    return false;
                }
            }
        })
    })
</script>
{include file="public/footer"}
