{include file="public/header"}
{include file="public/left"}
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        常见问题添加
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/admin.php" class="am-icon-home">首页</a></li>
        <li class="am-active">添加</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 表单
            </div>
            <div class="am-u-md-9" style="text-align: center">
                <span>往下增加
                    <select id="doc-select-2">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    个常见问题添加栏
                </span>
            </div>
        </div>
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal" method="post">
                        <div class="am-form-group">
                            <label for="title" class="am-u-sm-3 am-form-label">标题 / Title</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="typename" id="title" name="title[]" placeholder="添加标题">
                            </div>
                        </div>
                        <div class="am-form-group" id="type">
                            <label for="content" class="am-u-sm-3 am-form-label">内容 / Content</label>
                            <div class="am-u-sm-9">
                                <textarea rows="10" id="content" name="content[]" placeholder="添加问题内容"></textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#doc-select-2').change(function () {
        var length = $(this).val();
        var content = "";
        for(var i = 0; i< length; i++){
            content += '<div class="am-form-group">\n' +
                '                            <label for="title" class="am-u-sm-3 am-form-label">标题 / Title</label>\n' +
                '                            <div class="am-u-sm-9">\n' +
                '                                <input type="text" class="typename" id="title" name="title[]" placeholder="添加商品分类">\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                        <div class="am-form-group" id="type">\n' +
                '                            <label for="content" class="am-u-sm-3 am-form-label">内容 / Content</label>\n' +
                '                            <div class="am-u-sm-9">\n' +
                '                                <textarea rows="10" id="content" name="content[]" placeholder="添加问题内容"></textarea>\n' +
                '                            </div>\n' +
                '                        </div>';
        }
        $('#type').after(content);
    })

</script>
{include file="public/footer"}