{include file="public/header"}
<body>
<div class="container">
    <header data-am-widget="header" class="am-header am-header-default my-header">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">我的收藏</a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class="">
                <i class="am-header-icon  am-icon-home"></i>
            </a>
        </div>
    </header>
    {include file="public/nav"}
    <div class="my-nav-bar">
        <ol class="am-breadcrumb">
            <li><a href="{:url('member/index')}">首页</a></li>
            <li>我的收藏</li>
        </ol>
    </div>
    <div class="am-cf cart-panel">
        <div class="withdrawals-panel">
            <p class="groupby-t-p"><span class="am-fr">2015-06-07 18:27</span>订单号：123456789</p>
            <hr  class="am-divider am-divider-default am-cf"/>
            <div class="groupby-img-panle"><a href="#"><img src="__IMG__/img3.jpg" class="am-img-responsive" /></a></div>
            <div class="groupby-info-panle info-width">
                <h3><a href="#">8店通用7天连锁酒店</a></h3>
                <p>总额：<span class="red2 bold">78.00</span> 元 &nbsp; &nbsp;&nbsp;  积分：<span class="am-text-success">20</span></p>
                <p>商家：abcdefg &nbsp; &nbsp; &nbsp;&nbsp;   数量：1</p>
                <p>状态：<span class="am-text-success">已付款</span></p>
                <p><a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-success am-radius">取消订单</a> <a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-danger am-radius">订单详情</a></p>
            </div>
        </div>
        <div class="withdrawals-panel">
            <p class="groupby-t-p"><span class="am-fr">2015-06-07 18:27</span>订单号：123456789</p>
            <hr  class="am-divider am-divider-default am-cf"/>
            <div class="groupby-img-panle"><a href="#"><img src="__IMG__/img3.jpg" class="am-img-responsive" /></a></div>
            <div class="groupby-info-panle info-width">
                <h3><a href="#">8店通用7天连锁酒店</a></h3>
                <p>总额：<span class="red2 bold">78.00</span> 元 &nbsp; &nbsp;&nbsp;  积分：<span class="am-text-success">20</span></p>
                <p>商家：abcdefg &nbsp; &nbsp; &nbsp;&nbsp;   数量：1</p>
                <p>状态：<span class="am-text-success">已付款</span></p>
                <p><a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-success am-radius">取消订单</a> <a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-danger am-radius">订单详情</a></p>
            </div>
        </div>
        <div class="withdrawals-panel">
            <p class="groupby-t-p"><span class="am-fr">2015-06-07 18:27</span>订单号：123456789</p>
            <hr  class="am-divider am-divider-default am-cf"/>
            <div class="groupby-img-panle"><a href="#"><img src="__IMG__/img3.jpg" class="am-img-responsive" /></a></div>
            <div class="groupby-info-panle info-width">
                <h3><a href="#">8店通用7天连锁酒店</a></h3>
                <p>总额：<span class="red2 bold">78.00</span> 元 &nbsp; &nbsp;&nbsp;  积分：<span class="am-text-success">20</span></p>
                <p>商家：abcdefg &nbsp; &nbsp; &nbsp;&nbsp;   数量：1</p>
                <p>状态：<span class="am-text-success">已付款</span></p>
                <p><a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-success am-radius">取消订单</a> <a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-danger am-radius">订单详情</a></p>
            </div>
        </div>
        <div class="withdrawals-panel">
            <p class="groupby-t-p"><span class="am-fr">2015-06-07 18:27</span>订单号：123456789</p>
            <hr  class="am-divider am-divider-default am-cf"/>
            <div class="groupby-img-panle"><a href="#"><img src="__IMG__/img3.jpg" class="am-img-responsive" /></a></div>
            <div class="groupby-info-panle info-width">
                <h3><a href="#">8店通用7天连锁酒店</a></h3>
                <p>总额：<span class="red2 bold">78.00</span> 元 &nbsp; &nbsp;&nbsp;  积分：<span class="am-text-success">20</span></p>
                <p>商家：abcdefg &nbsp; &nbsp; &nbsp;&nbsp;   数量：1</p>
                <p>状态：<span class="am-text-success">已付款</span></p>
                <p><a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-success am-radius">取消订单</a> <a href="#" class="am-btn am-btn-primary am-btn-xs am-btn-danger am-radius">订单详情</a></p>
            </div>
        </div>
        <ul class="am-pagination am-pagination-centered">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    {include file="public/footer"}