{include file="public/header"}
<body>
<div class="container">
    <header data-am-widget="header" class="am-header am-header-default my-header">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">我的推广</a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class="">
                <i class="am-header-icon  am-icon-home"></i>
            </a>
        </div>
    </header>
    <!--头部导航-->
    {include file="public/nav"}

    <div class="my-nav-bar">
        <ol class="am-breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">我的推广</a></li>
        </ol>
    </div>
    <div class="am-cf cart-panel">
        <div class="withdrawals-panel">
            <div class="partners-title-panel">
                <div class="partners-title-panel-title"><span class="am-fr">2人</span><i class="am-icon-chevron-circle-right"></i>点击链接</div>
            </div>
            <div class="partners-title-panel">
                <div class="partners-title-panel-title"><span class="am-fr">2人</span><i class="am-icon-chevron-circle-right"></i>成功关注</div>
            </div>
            <div class="partners-title-panel">
                <div class="partners-title-panel-title"><span class="am-fr">0人</span><i class="am-icon-chevron-circle-right"></i>下单购买</div>
            </div>
            <div class="partners-title-panel">
                <div class="partners-title-panel-title"><span class="am-fr">0人</span><i class="am-icon-chevron-circle-right"></i>成为分销</div>
            </div>
        </div>
    </div>
{include file="public/footer"}