{include file="public/header"}

<body>
<div class="container">
    <header data-am-widget="header" class="am-header am-header-default my-header">
        <h1 class="am-header-title">
            <a href="#title-link" class="">用户注册</a>
        </h1>
    </header>
    <!--头部导航-->
    <div class="uchome-info" style="text-align: center;">
        <div class="uchome-info-uimg" style="width: 100%;">
            <img src="__IMG__/default/img1.jpg" style="margin: 22px 0 0 0;"/>
        </div>
    </div>

    <div class="cart-panel">
        <form class="am-form">
            <div class="am-form-group am-form-icon">
                <i class="am-icon-user" style="color:#329cd9"></i>
                <input type="text" class="am-form-field  my-radius" placeholder="请输入您的姓名">
            </div>
            <div class="am-form-group am-form-icon">
                <i class="am-icon-envelope" style="color:#78c3ca"></i>
                <input type="text" class="am-form-field  my-radius" placeholder="请输入邮箱号码">
            </div>
            <div class="am-form-group am-form-icon">
                <i class="am-icon-phone" style="color:#f09513"></i>
                <input type="text" class="am-form-field  my-radius" placeholder="请输入联系电话">
            </div>
            <p class="am-text-center"><button type="submit" class="am-btn am-btn-danger am-radius am-btn-block">立即注册</button></p>
        </form>
    </div>
    {include file="public/footer"}
